* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f3ee;
}

div {
  color: #727272;
  text-align: center;
}

p {
  margin: 15px;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  color: #9db4c0;
  font-weight: 600;
  position: relative;
}

.bigName {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 120px;
  color: #ccd3d7;
}

p::before {
  content: attr(data-item);
  transition: all 1s ease-in-out;
  color: #9db4c0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 1;
  width: 0;
  overflow: hidden;
}
p:hover::before {
  width: 100%;
}

nav {
  margin: 25px;
  background-color: #f4f3ee;
  padding: 10px;
}
nav .menuItems {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #9db4c0;
}
nav .menuItems li {
  margin: 50px;
}
nav .menuItems li a {
  text-decoration: none;
  color: #253237;
  font-size: 30px;
  font-weight: 40;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  background-color: #9db4c0;
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #e0fbfc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons .mailIcon {
  width: 53.27px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #9db4c0;
}

.welcome {
  margin-top: 300px;
  align-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome hr {
  border: none;
  background-color: #9db4c0;
  height: 6px;
  width: 140%;
  margin-top: 50px;
  align-self: center;
}

.about {
  display: grid;
  place-items: center;
  width: 800px;
  height: 200px;
  background-color: #9db4c0;
  margin-top: 100px;
  border-radius: 10px;
  grid-template-areas: "a c";
}

.about h2 {
  color: #f4f3ee;
  margin: 10px;
}

.about img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  height: 150px;
}

.about p {
  grid-area: "c";
  font-size: 20px;
  color: #f4f3ee;
  margin-top: 10px;
}

.about-h {
  grid-area: "a";
  margin: 25px;
}
