html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: #274c77;
  scroll-behavior: smooth;
}

div {
  color: #002962;
  text-align: center;
}

p {
  margin: 15px;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  color: #9db4c0;
  position: relative;
  text-align: left;
}

.bigName {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 120px;
  color: #274c77;
}

p::before {
  content: attr(data-item);
  transition: all 1s ease-in-out;
  color: #a3cef1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 1;
  width: 0;
  overflow: hidden;
}
p:hover::before {
  width: 100%;
}

.welcome:hover p::before {
  width: 100%;
}

nav {
  margin: 25px;
  background-color: #274c77;
  padding: 10px;
}
nav .menuItems {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6096ba;
}
nav .menuItems li {
  margin: 2rem;
}
nav .menuItems li a {
  text-decoration: none;
  color: #274c77;
  font-size: 30px;
  font-weight: 40;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  background-color: #6096ba;
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #a3cef1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons .mailIcon {
  width: 53.27px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #274c77;
}

.welcome {
  margin-top: 300px;
  background-color: #6096ba;
  border-radius: 10px;
  /* width: 800px; */
  width: 50%;
  height: 350px;
  align-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

hr {
  border: none;
  background-color: #6096ba;
  height: 6px;
  width: 20%;
  margin-top: 100px;
  align-self: center;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
  height: 90%;
  background-color: #6096ba;
  margin-top: 100px;
  border-radius: 10px;
  align-items: center;
}

.about h2 {
  font-size: 2.5rem;
  color: #274c77;
}

.about img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 5px #a3cef1;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
}

.about-side {
  display: flex;
  margin-right: 1rem;
  margin-left: 3rem;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.about-side p {
  font-size: 20px;
  color: #a3cef1;
}

.about-h {
  margin-top: 1rem;
}

.res-btn {
  border: 3px solid #274c77;
  width: 15%;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.35em 0.35em;
  color: #274c77;
}

.res-btn:hover {
  background-color: #274c77;
  color: #a3cef1;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  background-color: #6096ba;
  margin-top: 100px;
  border-radius: 10px;
  align-items: center;
  row-gap: 2rem;
  padding: 1rem;
  position: relative;
}

.projects h2 {
  font-size: 2.5rem;
  margin: 2rem 2rem 1rem;
}

.projects-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 2rem;
}

.single-proj {
  display: flex;
  flex-direction: column-reverse;
  justify-items: center;
  background-color: #274c77;
  border-radius: 10px;
  max-width: 16rem;
}

.single-proj img {
  align-self: center;
  height: 90%;
  width: 90%;
  object-fit: cover;
  outline: none;
}

.proj-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #a3cef1;
  height: 1rem;
}

.proj-header h3 {
  /* font-size: 1.5rem; */
  color: #274c77;
}

.proj-header img {
  width: 25px;
}

.proj-desc {
  display: flex;
  flex-direction: column;
  height: 1rem;
  align-items: center;
}

.proj-desc p {
  color: #274c77;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.2s;
  opacity: 0;
  font-size: 15px;
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.proj-desc h4 {
  padding: 0.3em 1.2em;
  font-size: 10px;
  color: #274c77;
  background-color: #a3cef1;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 6px;
  opacity: 0;
}
.single-proj:hover .head-i {
  filter: blur(2.5px);
}

.single-proj:hover .proj-desc p {
  opacity: 1;
}

.single-proj:hover .proj-desc h4 {
  opacity: 1;
  z-index: 2;
}

.skills-used {
  display: flex;
  justify-content: center;
}

#diff-skill {
  color: white;
  border-color: white;
}

.proj-line {
  border: none;
  background-color: #274c77;
  height: 3px;
  width: 10%;
  margin: 0;
  align-self: center;
}

#hover-info {
  font-size: 20px;
  color: #a3cef1;
}

@media only screen and (max-width: 600px) {
  .welcome {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .menuContainer {
    width: 100%;
  }

  nav .menuItems li a {
    font-size: 1.2em;
  }

  .about-side {
    flex-direction: column;
    margin-left: 1rem;
  }

  .projects {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .welcome {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .menuContainer {
    width: 100%;
  }

  nav .menuItems li a {
    font-size: 1.5em;
  }

  .projects {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .about-side {
    flex-wrap: nowrap;
  }
}

.img-skills {
display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
}

#skills-list {
  display: none;
  list-style: none;
}

#skills-list li {
  background-color: #a3cef1;
  padding: 0.5rem;
  border-bottom: solid 2px #002962;
}

.img-skills:hover > ul#skills-list{
  display: flex;
  flex-direction: column;
}

.proj-title.big {
  font-size: 15px;
}

figcaption {
  color: #a3cef1;
}

